@import "tailwindcss";

@import "./fonts.css";
@import "./button.css";
@import "./card.css";
@import "./gradient-text.css";
@import "./badge.css";
@import "./input.css";
@import "./blob.css";
@import "./light-theme.css";
@import "./link.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ffffff;
  --color-secondary: #f8fafc;
  --color-neutral: #efedfd;
  --color-selection: #9382ff80;

  --color-bg-card: --alpha(var(--color-white) / 3%);
  --color-bg-card-hover: --alpha(var(--color-white) / 6%);
  --color-bg-input: --alpha(var(--color-white) / 5%);

  --color-accent: #712fff;
  --color-accent-light: #9382ff;
  --color-accent-gradient-start: #e59cff;
  --color-accent-gradient-mid: #ba9cff;
  --color-accent-gradient-end: #9cb2ff;

  --color-border: --alpha(var(--color-white) / 8%);
  --color-border-hover: --alpha(var(--color-white) / 15%);
  --color-border-focus: #9382ff80;

  --font-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --radius-card: 0.75rem;
  --radius-button: 0.5rem;

  --scrollbar-width: 0.45rem;
  --scrollbar-thumb: --alpha(var(--color-neutral-100) / 15%);
  --scrollbar-thumb-hover: --alpha(var(--color-neutral-100) / 25%);
}

html {
  scrollbar-gutter: auto;
  /* 1rem === 16px */
  font-size: calc(16vw / 1920 * 100);
  /* font-size: 16px; */

  /* менее 1920px без резиновой верстки */
  @media screen and (max-width: 1920px) {
    font-size: 16px;
  }
}

body {
  @apply bg-white dark:bg-[#0a0720] min-h-screen overflow-x-hidden text-primary font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  @apply h-full overflow-y-auto scroll-smooth selection:bg-selection selection:text-inherit;
  -webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--scrollbar-thumb);

  &:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

/* Focus */
* {
  @apply focus:outline-none focus-visible:outline-2 focus-visible:outline-border-focus focus-visible:outline-offset-2;
}

.header {
  @apply fixed top-0 right-0 left-0 z-50 backdrop-blur-lg
  
  after:content-[""] after:absolute after:right-0 after:bottom-0 after:left-0 after:h-px after:bg-[radial-gradient(62.87%_100%_at_50%_100%,#c084fc20_0%,transparent_100%)] dark:after:bg-[radial-gradient(62.87%_100%_at_50%_100%,rgba(255,255,255,0.12)_0%,rgba(255,255,255,0)_100%)];
}

@plugin 'tailwind-scrollbar';
