/* Переменные светлой темы */
@utility light {
  --color-primary: #000;
  --color-secondary: #030014;
  --color-neutral: #0f172a;
  --color-selection: #712fff33;

  --color-bg-card: --alpha(var(--color-black) / 2%);
  --color-bg-card-hover: --alpha(var(--color-black) / 4%);
  --color-bg-input: --alpha(var(--color-black) / 4%);

  --color-border: --alpha(var(--color-black) / 8%);
  --color-border-hover: --alpha(var(--color-black) / 15%);
  --color-border-focus: rgba(113, 47, 255, 0.5);

  --scrollbar-thumb: --alpha(var(--color-black) / 15%);
  --scrollbar-thumb-hover: --alpha(var(--color-black) / 25%);
}
